x86/*.o
x86/*.o.cmd
x86/*.ko
x86/*.ko.cmd
.built-in.o.cmd
.external-module-compat.o.cmd
.srcu.o.cmd
.tmp_versions/
Module.symvers
built-in.o
config.mak
external-module-compat.o
include-compat/asm
include/asm
kvm-kmod-config.h
modules.order
srcu.o
x86/kvm-amd.mod.c
x86/kvm-intel.mod.c
x86/kvm.mod.c
x86/modules.order

